<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form__section-left"></div>
  <div class="form__section-right" *ngIf="!successfullySent; else blockMessage">
    <div class="form__title">Recovery</div>
    <div class="form__body">
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
        <input matInput formControlName="email" required>
        <mat-error
          *ngIf="form.hasError('required', 'email')"
        >Please enter your email</mat-error>
      </mat-form-field>
      <mat-error *ngIf="formError" >
        <p *ngFor="let alert of alerts">
          <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
        </p>
      </mat-error>
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        [class.active]="form.valid && !formError"
        [disabled]="form.invalid || formError"
      >Recovery <mat-icon>refresh</mat-icon></button>
    </div>
  </div>
  <ng-template #blockMessage>
    <div class="form__section-right">
      <div class="form__title">Recovery password</div>
      <div class="form__body">
        <div class="form__message">All password recovery instructions have been sent to your email address.</div>
      </div>
    </div>
  </ng-template>
</form>
