.search {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 540px) {
    flex-direction: column;
  }
  &__btn {
    width: 150px;
    margin-top: 3px;
    height: 52px;
    padding: 0 20px;
    @media (max-width: 540px) {
      margin-top: -30px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__input {
    max-width: 970px;
    width: 100%;
  }
  &__table-body,
  &__header-table {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: var(--border-color);
    @media (max-width: 540px) {
      display: flex;
      gap: 14px;
      padding: 30px 0;
      font-size: 16px;
    }
  }

  &__table-body {
    transition: all .3s;
    @media (max-width: 540px) {
      flex-direction: column;
      padding: 30px 10px;
      &:nth-child(even) {
        background: #f3fdf1;
      }
    }
    &:hover {
      box-shadow: 1px 1px 30px 0px rgb(50 50 50 / 18%);
      background: #f3fdf1;
      & > .search__tags a {
        background: #90c6fd;
      }
      & > .search__answers a {
        background: #90c6fd;
      }
    }
  }

  &__author, &__theme {
    & a {
      position: relative;
      color: var(--primary-color);
      text-decoration: underline;
      &:hover {
        color: var(--secondary-color);
      }
    }
  }
  &__column-author,
  &__column-theme,
  &__column-answers,
  &__column-tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    & mat-icon {
      transition: all .3s;
      &:hover {
        cursor: pointer;
        color: var(--hover-link);
      }
    }
  }

  &__author,
  &__column-author {
    width: 12%;
    @media (max-width: 540px) {
      width: 100%;
    }
  }
  &__theme,
  &__column-theme {
    width: 49%;
    @media (max-width: 540px) {
      width: 100%;
    }
  }
  &__answers {
    text-align: center;
    & a {
      border-radius: 15px;
      width: 25px;
      height: 25px;
      text-align: center;
      background: var(--background-active);
      color: var(--primary-color);
      margin: 5px 0;
      display: inline-block;
      line-height: 25px;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        background: var(--background-desable);
        color: #fff;
        border-radius: 3px;
      }
    }
  }
  &__answers,
  &__column-answers {
    width: 9%;
    & a {
      @media (max-width: 540px) {
        background: #849980;
        color: #fff;
      }
    }
    @media (max-width: 540px) {
      width: 100%;
      text-align: start;
    }
  }

  &__tags,
  &__column-tags {
    width: 30%;
    display: flex;
    gap: 3px;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    @media (max-width: 540px) {
      width: 100%;
    }
    & a {
      padding: 2px 5px;
      background: var(--background-active);
      border-radius: 3px;
      color: var(--primary-color);
      transition: all .3s;
      @media (max-width: 540px) {
        padding: 5px 8px;
        background: #849980;
        color: #fff;
      }
      &:hover {
        background: var(--background-desable);
        color: #fff;
      }
    }
  }
  &__author,
  &__theme,
  &__tags,
  &__answers {
    &:hover {
      cursor: pointer;
    }
  }
  &__message {
    text-align: center;
  }
  &__loader {
    text-align: center;
  }
}

