.search {
  display: flex;
  justify-content: space-between;
  &__btn {
    width: 13%;
    margin-top: 3px;
    height: 52px;
  }
  &__input {
    width: 85%;
  }
  &__table-body,
  &__header-table {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: var(--border-color);
  }
  &__author, &__theme {
    & a {
      position: relative;
      color: var(--primary-color);
      text-decoration: underline;
      &:hover {
        color: var(--secondary-color);
      }
    }
  }
  &__column-author,
  &__column-theme,
  &__column-answers,
  &__column-tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    & mat-icon {
      transition: all .3s;
      &:hover {
        cursor: pointer;
        color: var(--hover-link);
      }
    }
  }

  &__author,
  &__column-author {
    width: 12%;
  }
  &__theme,
  &__column-theme {
    width: 49%;
  }
  &__answers {
    text-align: center;
    & a {
      border-radius: 15px;
      width: 25px;
      height: 25px;
      text-align: center;
      background: var(--background-active);
      color: var(--primary-color);
      margin: 5px 0;
      display: inline-block;
      line-height: 25px;
      text-decoration: none;
      transition: all .3s;

      &:hover {
        background: var(--background-desable);
        color: #fff;
        border-radius: 3px;
      }
    }
  }
  &__answers,
  &__column-answers {
    width: 9%;
  }
  &__tags,
  &__column-tags {
    width: 30%;
    display: flex;
    gap: 3px;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    & a {
      padding: 2px 5px;
      background: var(--background-active);
      border-radius: 3px;
      color: var(--primary-color);
      transition: all .3s;
      &:hover {
        background: var(--background-desable);
        color: #fff;
      }
    }
  }
  &__author,
  &__theme,
  &__tags,
  &__answers {
    &:hover {
      cursor: pointer;
    }
  }

  &__message {
    text-align: center;
  }
}

