.form {
  width: 100%;
  min-height: 400px;
  display: flex;
  margin: 150px 0 60px 0;
  -webkit-box-shadow: 1px 1px 30px 0px rgba(50, 50, 50, 0.08);
  -moz-box-shadow:    1px 1px 30px 0px rgba(50, 50, 50, 0.08);
  box-shadow:         1px 1px 30px 0px rgba(50, 50, 50, 0.08);
  &__section-left,
  &__section-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__section-left {
    background-image: url('../../../assets/img/bg_auth-form.png');
    -webkit-background-size: cover;
    background-position: 50%;
  }
  &__section-right {
    padding: 40px;
    justify-content: space-between;
    @media (max-width: 414px) {
      padding: 60px 20px 30px 20px;
    }
    @media (max-width: 678px) {
      width: 100%;
    }
  }
  &__title {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 30px;
    text-align: center;
  }
  &__btn {
    width: 100%;
    padding: 20px;
    border: 1px solid #333333;
    border-radius: 5px;
    transition: all 0.3s;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    &:hover {
      background: #333333;
      color: #fff;
      cursor: pointer;
    }
    &.desable {
      position: relative;
      border: 1px solid;
      border-color: var(--border-color);
      &:hover {
        background: #333333;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  &__section {
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
  }
  &__forgot-link {
    color: var(--secondary-color);
    position: relative;
    transition: all .3s ease;
    margin-bottom: 10px;
    &:after {
      background-color: var(--secondary-color);
      top: 20px;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      transition: all .4s ease;
      width: 0;
    }
    &:hover {
      color: var(--secondary-color);
      &:after {
        color: var(--secondary-color);
        width: 100%;
      }
    }
  }
  &__icon-password {
    &:hover {
      cursor: pointer;
      color: var(--hover-link);
    }
  }
  @media (max-width: 678px) {
    flex-direction: column;
  }
}
