<div class="header">
  <div class="container">
    <div class="header__row">
      <div routerLink="/" class="header__logo">
        <img src="../../assets/logo.png" alt="logo">
      </div>
      <div class="header__menu">
        <div
          routerLinkActive="active"
          class="header__menu-link"
          routerLink="/registration"
        >Logout
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro">
  <div class="video">
    <div class="video__media">
      <video
        class="video__media" src="../../../assets/video/matrix.mp4"
        autoplay="" muted=""
        loop="">
      </video
      >
    </div>
  </div>
</div>

<div class="container content" [@routeAnimation]="getDepth(myOutlet)">
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>

