/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --primary-color: #333;
  --secondary-color: #3f51b5;
  --border-color: #f1e6e6;
  --background-active: #f7f1f1;
  --background-desable: #80abd5;
  --hover-link: #958585;
}

///*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  color: var(--primary-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*----------------- Style Layouts -------------------*/
.wrapper {
  height: 100%;
}
.container {
  max-width: 1200px;
  padding: 0 30px;
  position: relative;
  &.content {
    padding-bottom: 50px;
  }

}


/*-------------- Custom style fields ----------------*/

.mat-form-field {
  margin-bottom: 10px;
  width: 100%;
}
.mat-form-field-suffix.ng-tns-c35-2.ng-star-inserted > .search__btn {
  height: 52px;
  border-radius: 0 3px 3px 0;
  z-index: -1;
  margin-right: -11px;
  border: 2px solid;
  border-color: var(--secondary-color);
  &:hover {
    cursor: pointer;
  }
}
.mat-form-field-flex > div > search__btn {
  padding: 14px 8px 14px 14px;
  background: var(--secondary-color);
  color: #fff;
  transition: all .3s;
  &:hover {
    background: #fff;
    border: 2px solid;
    border-color: var(--secondary-color);
    color: var(--primary-color)
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary-color);
}


/*-------------- Custom style buttons ----------------*/

button.mat-button-disabled:hover {
  cursor: not-allowed;
}
.mat-stroked-button.mat-button-disabled {
  height: 45px;
  background: var(--background-desable);
  border: 1px solid transparent;
}
.mat-stroked-button.active {
  height: 45px;
  transition: all .3s;
  border: 1px solid;
  border-color: var(--secondary-color);
  &.mat-primary {
    color: var(--primary-color);
  }
  &:hover {
    background: var(--secondary-color);
    color: #fff !important;
    border: 1px solid;
    border-color: var(--secondary-color);
  }
}
button.mat-button-disabled > span {
  color: #fff;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--secondary-color);
}
.mat-dialog-actions {
  //justify-content: end;
}
button.mat-focus-indicator.mat-button.mat-button-base {
  border: 1px solid;
  border-color: var(--secondary-color);
  transition: all .3s;
  &:hover {
    background: var(--secondary-color);
    color: #fff !important;
    border: 1px solid;
    border-color: var(--secondary-color);
  }
}
.cdk-overlay-pane {
  max-width: 800px !important;
  width: 100%;
}
